body{
  text-align: center;
}
body h1{
  margin-top: 10%;
}
body a{
  background-color: var(--ColorBack);
  padding: 1% 2%;
  border-radius: 10px;

}
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}