<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Creator</title>

    <script src="https://kit.fontawesome.com/60f5542750.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../asetts/css/style.css">

</head>
<body>
    
    <header>
        <a href="../index.html">
            <img src="../asetts/img/image.png" alt="le logo the creator">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="game.html"><i class="fa-solid fa-display"></i> Game</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </section>
        <section id="SectDL">
            <a class="btn-9" href="views/game.html">Download</a>
        </section>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-discord"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
        <p>&copy; Copyright 2024 TheCreator. Tous droits réservés.</p>
    </footer>
  
    <script src="../asetts/js/script.js"></script>
</body>
</html>