<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Creator</title>

    <script src="https://kit.fontawesome.com/60f5542750.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/image.png">

</head>
<body>
    
    <header>
        <a href="../index.html">
            <img src="../assets/img/image.png" alt="le logo the creator">
        </a>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="game.html"><i class="fa-solid fa-display"></i> Game</a></li>
            </ul>
        </nav>
    </header>
    <main id="Gmain">
        <div class="slider">
            <div class="slides">
              <img src="../assets/img/imgGame/img1.png" alt="Image 1">
              <img src="../assets/img/imgGame/image10.png" alt="Image 1">
              <img src="../assets/img/imgGame/image2.png" alt="Image 1">
              <img src="../assets/img/imgGame/image4.png" alt="Image 1">
              <img src="../assets/img/imgGame/image6.png" alt="Image 1">
              <img src="../assets/img/imgGame/image7.png" alt="Image 1">
              <img src="../assets/img/imgGame/image8.png" alt="Image 1">
            </div>
          </div>        
        <section id="SectDL">
            <div>
                <h2>Windows</p>
                <a class="btn-9" href="https://mega.nz/file/lhdFSBgL" target="_blank">Download</a>
            </div>
            <div>
                <h2>Mac :</p>
                    <a class="btn-9" href="https://mega.nz/file/0h8jiTZQ" target="_blank">Download</a>
                </div>
        </section>
    </main>
    <footer>
        <div>
            <ul>
                <li><a href="https://www.instagram.com/bourtitom/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://discord.gg/hKkh9v48Mh" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="https://www.tiktok.com/@thecreator_rpg" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
        <p>&copy; Copyright 2024 TheCreator. Tous droits réservés.</p>
    </footer>
  
    <script src="../assets/js/script.js"></script>
</body>
</html>